# === Global ===
.vscode/
.DS_Store
.env
*.log

# === Backend (Django) ===
# Python compiled files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/*.cpython-*.pyc
backend/__pycache__/
backend/*.pyc
backend/**/*.pyc
backend/**/__pycache__
backend/*/__pycache__
backend/db.sqlite3
backend/media/
backend/staticfiles/
backend/venv/
backend/*.pot
backend/.env

backend/backend/**/*.pyc
backend/**/backend/**/__pycache__/

# === Mobile (Expo) ===
mobile/node_modules/
mobile/.expo/
mobile/.expo-shared/
mobile/web-build/
mobile/dist/
mobile/ios/
mobile/android/
mobile/.env


# === Web (Next.js) ===
web/node_modules/
web/.next/
web/out/
web/.env
web/.vercel
web/build/
web/coverage/
web/dist/
web/web-build/
web/expo-env.d.ts
web/.env.local
